
.header-container {
  display: flex;
  height: 60px;
  padding: 0 25px;
  justify-content: space-between;
  width: auto;
  align-items: center;
  position: relative;
  .header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    .anticon-menu {
      margin-right: 15px;
    }
    img {
      height: 1.5rem;
      margin: 0 0 4px 0;
    }
    .region {
      position: absolute;
      top: 0;
      right: -10px;
      font-size: 8px;
      font-weight: 100;
    }
  }
  .search {
    display: flex;
    flex-direction: row;
    width: 30rem;
    height: 35px;
    .btn-search {
      min-width: 3.5rem;
      height: 35px;
    }
  }
  .topbar-menu {
    cursor: pointer;
  }
}