$gridGap: 20px 15px;

.video-container {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.card-container {
  width: 100%;
  ::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
  }
  ::-webkit-scrollbar-thumb {
    background: #696969;
  }
  .filter-tab {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    overflow: auto;
   
    button {
      margin: 0 5px;
      border-radius: 15px;
      height: 25px;
      font-size: 12px;
    }
    ::selection {
      background: red;
    }
    .active {
      background-color: #030303;
      color: #ffffff;
    }
  }

  .card-content {
    padding: 1rem;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: $gridGap;
    background-color: #f9f9f9;
    position: relative;

     @media (max-width: 1600px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: $gridGap;
    }

    @media (max-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: $gridGap;
    }

    @media (max-width: 992px) {
      grid-template-columns: 1fr 1fr;
      grid-gap: $gridGap;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
      grid-gap: $gridGap;
    }

    @media (max-width: 567px) {
      grid-template-columns: 1fr;
      grid-gap: $gridGap;
    }
  }
}
.view::after {
  content: "•";
  margin: 0 4px;
}
