$gridTemplaceColumn: 1fr 1fr 1fr 1fr 1fr 1fr;
$gridTemplateRows: 16rem;
$gridGap: 20px 10px;
$padding: 1rem;

.video-container {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.card-container {
  width: 100%;
  .filter-tab {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    button {
      margin: 0 5px;
      border-radius: 15px;
      height: 25px;
      font-size: 12px;
    }
    ::selection {
      background: red;
    }
    .active {
      background-color: #030303;
      color: #ffffff;
    }
  }

  .card-content {
    padding: 1rem;
    height: auto;
    display: grid;
    grid-template-columns: $gridTemplaceColumn;
    grid-gap: $gridGap;
    // grid-template-rows: $gridTemplateRows;
    background-color: #f9f9f9;
    position: relative;
    @media (max-width: 1650px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: $gridGap;
      // grid-template-rows: $gridTemplateRows;
    }

    @media (max-width: 1570px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: $gridGap;
      // grid-template-rows: $gridTemplateRows;
    }

    @media (max-width: 912px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: $gridGap;
      // grid-template-rows: $gridTemplateRows;
    }

    @media (max-width: 720px) {
      grid-template-columns: 1fr 1fr;
      grid-gap: $gridGap;
      // grid-template-rows: $gridTemplateRows;
    }

    .card-item {
      cursor: pointer;
      .card-image {
        position: relative;
        img {
          width: 100%;
          height: 10rem;
          object-fit: cover;
        }
        .duration {
          position: absolute;
          right: 0;
          bottom: 0;
          background: #2f2f2f;
          color: #fff;
          margin: 4px;
          font-size: 10px;
        }
      }
      .card-detail {
        margin-top: 10px;
        display: flex;
        .card-detail-right {
          font-size: 10px;
          padding-left: 10px;
          flex: 1;
          .title {
            font-size: 12px;
            padding-right: 24px;
            line-height: 15px;
            font-weight: bold;
            word-break: break-all;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
      }
    }
  }
}
.view::after {
  content: "•";
  margin: 0 4px;
}
