@import './header.scss';
@import './wrapper.scss';
@import './home.scss';
@import './antd.scss';
body {
    // background-color: #6f6d72 !important;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  