@import './header.scss';
@import './home.scss';
@import './antd.scss';
@import './sidebar.scss';
@import './watchScreen.scss';
@import './search.scss';

body {
    // background-color: #6f6d72 !important;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    
  }

  // scroll bar
  ::-webkit-scrollbar {
    width: 15px;
  }
   ::-webkit-scrollbar-thumb {
    padding: 0 4px;
    border-right:4px solid transparent;
    border-left:4px solid transparent;
    background: #696969;
    background-clip: padding-box;
    border-radius: 10px;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

// 
.avatar-img {
  height: 32px;
  width: 32px;
  border-radius: 32px;
  object-fit: cover;
}

.card-item {
  cursor: pointer;
  .card-image {
    position: relative;
    img {
      width: 100%;
      height: 13rem;
      object-fit: cover;
    }
    .duration {
      position: absolute;
      right: 0;
      bottom: 0;
      background: #2f2f2f;
      color: #fff;
      margin: 4px;
      padding: 2px;
      font-size: 10px;
    }
  }
  .card-detail {
    margin-top: 10px;
    display: flex;
    .card-detail-right {
      font-size: 10px;
      padding-left: 10px;
      flex: 1;
      .title {
        font-size: 12px;
        padding-right: 24px;
        line-height: 15px;
        font-weight: bold;
        word-break: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}
  