@import './header.scss';
@import './home.scss';
@import './antd.scss';
@import './sidebar.scss';
@import './watchScreen.scss';
body {
    // background-color: #6f6d72 !important;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

// 
.avatar-img {
  height: 32px;
  width: 32px;
  border-radius: 32px;
  object-fit: cover;
}
  