.watch-screen-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .wrapper-player-video {
    position: relative;
    background: #000;
    width: 100%;
    height: calc((9 / 16) * 100vw);
    max-height: calc(100vh - 169px);
    min-height: 480px;
    .video-player {
    }
  }
  .watch-flexy {
    .watch-flexy-content {
      justify-content: center;
      margin: 0 auto;
    }

    .video-metadata {
      padding: 20px;
      .video-info-primary {
        float: left;
        width: 100%;
        .video-info-primary-title {
          word-break: break-word;
          font-size: 16px;
          color: #030303;
        }
        .info-primary-content {
          display: flex;
          justify-content: space-between;
          line-height: 2rem;
          align-items: center;
          font-size: 14px;
          .info-content-left {
            color: #606060;
          }
          .info-content-right {
            display: flex;
            border-bottom: 1px solid #030303;
            .like,
            .dislike {
              padding: 0 10px;
              cursor: pointer;
              .anticon {
                padding-right: 5px;
              }
            }
          }
        }
      }
      //
      .video-info-secondary {
        clear: both;
        padding: 1rem 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        .video-info-secondary-title {
          display: flex;
          justify-content: space-between;
          .channel-info {
            display: flex;
            align-items: center;
            .channel-image {
            }
            .channel-content {
              color: #030303;
              font-weight: 600;
              font-size: 14px;
              margin-left: 10px;
            }
          }
          .channel-subscribe {
            .subscribe-btn {
              background-color: #cc0000;
              color: #ffffff;
            }
          }
        }

        // Description video
        .video-description {
          box-sizing: border-box;
          white-space: pre-wrap;
          height: 60px;
          overflow: hidden;
          max-width: 615px;
          color: #030303;
          margin: 1rem 1rem 1rem 2.5rem;
          font-size: 14px;
        }
        .description-show-more {
          height: auto;
          overflow: unset;
        }
      }
    }

    .video-comment {
      padding: 1rem 0;
      .video-comment-title {
        margin-bottom: 1rem;
      }
      .user-comment {
        display: flex;
        justify-content: space-around;
        .right-user-comment {
          width: 95%;
          padding-left: 5px;
          .user-comment-action-btn {
            text-align: end;
            margin-top: 5px;
          }
        }
      }
    }

    .list-comment {
      .comment-item {
        .ant-comment-inner {
          padding: 10px 0;
        }
        .ant-comment-content-author-name a {
          color: #030303 !important;
          font-weight: 600;
        }
      }
    }

      .related-video-load {
        margin-top: 20px;
        .card-item {
          display: flex;
          padding-bottom: 10px;
          .card-image {
            img {
              width: 168px;
              height: 94px;
            }
          }
          .card-detail-left {
            display: none;
          }
        }
      }
  }
}
